


<% r = params.fetch(:Interest).to_f %>
<% r = (r / 100) %>
<% term = params.fetch(:Total_years).to_i %>
<% n = 12 %>
<% pv = params.fetch(:Principal).to_f %>

<% numerator = ((r*pv)/n) %> 


<% denom = 1-1+(r/n) %>



<% power = -n * term %>


<% p =  power %>





<h1> Payment Results </h1>

<p>APR</p>
  <p>  <%= r.to_fs(:percentage, {:precision => 4}) %></p>

  <p> Number of years </p>
  <p>  <%= n %></p>

  <p> Principal </p>
  <p>  <%= pv.to_fs(:currency) %></p>



<p> Payment </p>
<p><%= p %></p>
