





<form action="https://glorious-carnival-wrvjjqv7rr9j29rvg-3000.app.github.dev/payment/results">

<div>
  <label for= "apr"> 
  APR 
  </label>
</div>

<div>
  <input id= "apr" name= "Interest" type= "text" placeholder= "E.g. 5.42">
</div>  

<div>
  <label for= "amount_of_years"> 
  Number of years 
  </label>
</div>

<div>
  <input id= "amount_of_years" name= "Total_years" type= "text" placeholder= "How many years to repay?">
</div>  

<div>
  <label for= "principal"> 
  Principal  
  </label>
</div>

<div>
  <input id= "principal" name= "Principal" type= "text" placeholder= "How much principal?">
</div>  

  <button> Calculate monthly payment </button>
</form>

<%= params %>
