


<% r = params.fetch(:Interest).to_f %>
<% r = (r / 100) %>
<% term = params.fetch(:Total_years).to_i %>
<% n = 12 %>
<% pv = params.fetch(:Principal).to_f %>

<% numerator = ((r*pv)/n) %> 


<% power = -n * term %>

<% denom = (1-(1+r/n)**power) %>

<% p =  numerator / denom  %>

<% r = r * 100 %>




<h1> Payment Results </h1>

<dt>APR</dt>
  <dd><br>  <%= r.to_fs(:percentage, {:precision => 4})  %> </dd>

  <dt><br> Number of years </dt>
  <dd><br>  <%= n %></dd>

  <dt><br> Principal </dt>
  <dd><br>  <%= pv.to_fs(:currency) %> </dd>



<dt><br> Payment </dt>
<dd><br> <%= p.to_fs(:currency) %> </dd>


<a href="/payment/new">
<br>
  Calculate another payment
</a>
