







<form action="https://glorious-carnival-wrvjjqv7rr9j29rvg-3000.app.github.dev/random/results">

<div>
  <label for= "minimum"> 
  Minimum
  </label>
</div>

<div>
  <input id= "minimum" name= "Min" type= "text" placeholder= "E.g. 1.5">
</div>  

<div>
  <label for= "maximum"> 
  Maximum 
  </label>
</div>

<div>
  <input id= "maximum" name= "Max" type= "text" placeholder= "E.g. 999">
</div>  


  <button> Pick random number </button>
</form>

<%= params %>
