



<% digit = params.fetch(:Number).to_f %>

<% sq_root_result = Math.sqrt(digit) %>


<h1>Square Root Results</h1>

<dt><br> Number </dt>
<dd><br>  <%= digit.to_i %> </dd>

<dt><br> Square Root </dt>
  <dd><br>  <%= sq_root_result %></dd>


<a href="/payment/new">
<br>
  Calculate another square root
</a>





  
