



<% digit = params.fetch(:Number).to_f %>

<% sq_root_result = Math.sqrt(digit) %>


<h1>Square Root Results</h1>

<p> Number </p>
<p><%= digit.to_i %></p>
<p>Square Root </p>
  <p>  <%= sq_root_result %></p>
