


<form action="https://glorious-carnival-wrvjjqv7rr9j29rvg-3000.app.github.dev/square/results">

<div>
  <label for= "number"> 
  Enter a number 
  </label>
</div>

<div>
  <input id= "number" name= "Number" type= "text" placeholder= "What number do you want to take">
</div>  

  <button> Calculate square </button>
</form>

<%= params %>
